@CHARSET "ISO-8859-1";

.semBorda td {
	border: none !important;
	text-align: center !important;
}

.label{
	
	font-weight: bold;
}

.imagem20x20 {
	width: 20px;
	height: 20px;
	border: 0px;
	padding: 0px;
	vertical-align: middle;
	cursor: pointer;
}

.imagem24x16 {
	width: 24px;
	height: 16px;
	border: 0px;
	padding: 0px;
	cursor: pointer;
}

.imagem24x24 {
	width: 24px;
	height: 24px;
	border: 0px;
	padding: 0px;
	vertical-align: middle;
	cursor: pointer;
}

.imagem32x32 {
	width: 32px;
	height: 32px;
	border: 0px;
}

.imagem45x16 {
	width: 45px;
	height: 16px;
	border: 0px;
	padding: 0px;
	cursor: pointer;
}

.imagem30x30 {
	width: 30px;
	height: 30px;
	border: 0px;
	padding: 0px;
	cursor: pointer;
}
.imagem40x40 {
	width: 40px;
	height: 40px;
	border: 0px;
	padding: 0px;
	cursor: pointer;
}
.imagem50x50 {
	width: 50px;
	height: 50px;
	border: 0px;
	padding: 0px;
	cursor: pointer;
}
.imagem60x60 {
	width: 60px;
	height: 60px;
	border: 0px;
	padding: 0px;
	cursor: pointer;
}

.imagem80x80 {
	width: 80px;
	height: 80px;
	border: 0px;
	padding: 0px;
	cursor: pointer;
}

.imagem1200x140 {
	width: 1200px;
	height: 140px;
	border: 0px;
	padding: 0px;
	cursor: pointer;
}

.ui-panel .ui-panel-content {
	
	padding: 0px;
	
}

